body {
    background: #87ceec;
    display: flex;
    max-width: 800px;
    justify-content: center;
    /*Auto margin will center the entire page via div.*/
    margin: 0 auto;
}
body > div {
    margin-top: 1.5rem;
    font-family: "Fira Sans", sans-serif;
    border: 0.25rem solid #48cd2f;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
header {
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-weight: 400;
    font-style: italic;
}
ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #808181;
}
li {
    color: whitesmoke;
    padding: 0.5rem;
    list-style: none;
}
a {
    color: #4acd98;
    font-weight: bold;
}
p {
    font-weight: 100;
    margin: 2rem;
}
section > h2 {
    margin-left: 2rem;
}
section > img {
    max-width: 30%;
    float: right;
    margin: 1rem;
}