* {
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    background: #2c2c2c;
    color: #4acd98;
}
.container > section, header, footer {
    border: #336f4e 1px solid;
    border-collapse: collapse;
    padding-left: 3vw;
    padding-top: 3vh;
}
header, footer {
    height: 20vh;
    clear: both;
}
.a-section, .b-section {
    float: left;
}
.a-section {
    width: 33.3333%;
    height: 25vh;
}
.b-section {
    width: 50%;
    height: 35vh;
}
