* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    background: #87ceec;
    max-width: 900px;
    /*Auto margin will center the entire page via div.*/
    margin: 0 auto;
}
body > main {
    margin-top: 1.5rem;
    font-family: "Fira Sans", sans-serif;
    border: 0.25rem solid #48cd2f;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
header {
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-family: "Luxurious Roman", "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
}
ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    color: #808181;
    font-weight: 500;
}
li {
    color: whitesmoke;
    padding: 0.5rem;
    list-style: none;
}
a {
    color: #4acd98;
    font-weight: bold;
}
p {
    font-weight: 400;
    margin: 2rem;
}
section > h2 {
    margin-left: 2rem;
}
section > img {
    max-width: 30%;
    float: right;
    margin-left: 1rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
}