/* Please give the h1 some padding on three sides, margin on just one side, and a light purple background with light blue lettering */
h1 {
    padding: 0 1rem 1rem 1rem;
    margin: 1rem 0 0 0;
    background: mediumpurple;
    color: lightblue;
}
/* Please give the h2 significant padding on the top and bottom, a dark green border on the top and bottom, and an orange background */
h2 {
    padding: 10rem 0 10rem 0;
    border-top: 1px solid darkgreen;
    border-bottom: 1px solid darkgreen;
    background: orange;
}

/* Please give the section a thick blue border, height of 300px, and more the 400px of margin on the top */
section {
    border: 4px solid blue;
    height: 300px;
    margin-top: 500px;
}
	
/* Please make the spans have thin yellow borders and equal padding / margin on all sides */
span {
    border: 1px solid yellow;
    padding: 1rem;
    margin: 1rem;
}