body {
    font-family: "Roboto Slab", sans-serif;
}
h1 {
    color: blue;
    text-decoration: underline;
    background: gold;
}
h2 {
    color: purple;
    font-weight: bold;
    font-size: 25px;
    border: 0.25rem solid orange;
}
section {
    width: 50%;
    height: 200px;
    background: grey;
    border: 0.25rem solid black;
    color: whitesmoke;
}
footer {
    background: black;
    border: lightgreen solid 0.25rem;
    color: whitesmoke;
    font-size: 20px;
    font-family: "Roboto Slab", sans-serif;
}
