/******************************************
/* Clearfix hack for.
/*******************************************/
/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/********************************************
/* Root style variables.
/*******************************************/
:root {
     --off-black: #151515;
     --color-hover: #f9a825;
     --gradient-primary: rgba(50,0,156,0.2);
}

/******************************************
/* Transitions.
/*******************************************/
.logo,
.btn,
.btn-inverted,
.section-hero > .section-hero-left > .section-info > span,
.nav-primary > .nav-center-btns > a,
.nav-primary > .link-book,
.btn-carosel,
.lookbook-photo-short,
.lookbook-photo-tall,
.lookbook-photo-short::before,
.lookbook-photo-tall::before,
.lookbook-photo-short::after,
.lookbook-photo-tall::after {
    transition: all 0.2s ease-in-out;
}
.section-hero > .section-hero-left > .section-info > span:hover {
     background: white;
     color: var(--color-hover);
     border-left: var(--color-hover) 0.2rem solid;
}
.nav-primary > .nav-center-btns > a:hover,
.link-book:hover {
     color: var(--color-hover);
     border-bottom: var(--color-hover) 0.1rem solid;
}
.logo:hover {
     color: var(--color-hover);
}
.btn:hover,
.btn-carosel:hover {
     background: var(--color-hover);
     color: white;
}
.btn-inverted:hover {
     background: var(--color-hover);
     color: white;
}
.lookbook-photo-short:hover::before,
.lookbook-photo-tall:hover::before,
.lookbook-photo-short:hover::after,
.lookbook-photo-tall:hover::after {
     opacity: 1;
}

/******************************************
/* Base styles.
/*******************************************/
body {
     overflow-x: hidden;
     font-family: 'Cinzel', serif;
     user-select: none;
}
.nav-primary {
     z-index: 100;
}
a {
     text-decoration: none;
     color: #101010;
}
h1 {
     color: white;
     font-size: 5rem;
     font-weight: 100;
     line-height: 3.4rem;
}
h2 {
     font-size: 1.3rem;
     font-weight: 700;
     margin: 1rem;
     color: #404040;
}
.logo {
     font-family: 'Great Vibes', cursive;
     font-size: 1.5rem;
}
.btn,
.btn-inverted {
     display: inline-block;
     width: 10rem;
     padding: 1rem 1.5rem;
     background-color: var(--off-black);
     color: white;
     font-size: 0.75rem;
     border: none;
     cursor: pointer;
}
.btn-inverted {
     background-color: white;
     font-weight: 500;
     color: var(--off-black);
}
.btn-carosel {
     display: inline-block;
     background-color: rgba(255,255,255,0.58);
     font-weight: 900;
     color: var(--off-black);
     width: 2rem;
     height: 2rem;
     line-height: 2rem;
     text-align: center;
     border-radius: 50%;
}
.nav-primary,
.nav-center-btns {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-weight: 500;
}
.nav-primary {
     position: fixed;
     top: 0;
     width: 100%;
     padding: 1rem 5rem;
     background: #ffffff;
     border-bottom: 0.1rem solid #7b8796;
}
.link-book,
.nav-primary > .nav-center-btns > a {
     font-size: 0.9rem;
     width: 8rem;
     height: 2rem;
     line-height: 2rem;
     text-align: center;
}
.hero-bg {
     position: relative;
     width: min(110%, 1920px);
     height: 120vh;
     top: -3rem;
     overflow: hidden;
     box-shadow: rgba(23, 23, 23, 0.4) 0 0 3rem;
     border: 0.25rem solid #7b8796;
     border-radius: 0 0 5rem 0;
     transform: rotate(10deg) translate(-5rem, -8rem);
     background:
             linear-gradient(
                     to left,
                     var(--gradient-primary) 10%,
                     rgba(255,255,255,0.1) 30%,
                     var(--gradient-primary) 90%),
             url(../images/model-purple.png) no-repeat;
     background-size: cover;
     margin: 0 auto;
     z-index: -1;
}
.section-hero {
     margin: 0 5rem;
}
.section-hero > section,
.section-hero > .section-hero-left {
     position: absolute;
}
.section-hero > .section-hero-left {
     display: flex;
     flex-direction: column;
     top: 10rem;
     margin: 0 5rem;
     width: 40%;
}
.section-hero > .section-hero-left > span {
     margin: 3rem 0;
     color: #f5f5f5;
     word-spacing: 0.3rem;
     letter-spacing: 0.1rem;
}
.section-hero > .section-hero-left > .section-info {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     width: 50%;
     background: var(--off-black);
     margin: 5rem 0 0 0;
     padding: 1rem;
     color: white;
}
.section-hero > .section-hero-left > .section-info > span {
     display: inline-block;
     padding: 1rem;
     width: 100%;
     border-left: white 0.1rem solid;
}
.deal-info {
     margin: 2rem 0;
     line-height: 2rem;
}
.deal-info > .deal-span {
     font-size: 2rem;
     font-weight: 900;
}

.section-hero > .schedule {
     position: absolute;
     color: white;
     right: -4rem;
     top: 50%;
     transform: rotate(90deg);
     letter-spacing: 0.1rem;
     word-spacing: 0.2rem;
}
.section-hero > .carosel {
     position: absolute;
     top: 95%;
     right: 5rem;
}
.section-services {
     display: flex;
     width: 70%;
     margin: 1rem auto 5rem auto;
}
.section-services > .service-card {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.service-card > img {
     width: 2rem;
     height: 2rem;
     margin: 1rem 0;
}
.service-card > p {
     font-size: 0.9rem;
     margin: 1rem 0;
     text-align: center;
     line-height: 1.7rem;
     color: #909090;
}

.section-lookbook {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 5rem auto;
     height: 60rem;
     width: 50%;
}
.section-lookbook > h1 {
     color: var(--off-black);
     font-size: 3rem;
}
.section-lookbook > .lookbook-grid,
.section-lookbook > .lookbook-grid > .lookbook-column {
     display: flex;
     height: 100%;
}
.section-lookbook > .lookbook-grid {
     width: 100%;
}
.section-lookbook > .lookbook-grid > .lookbook-column {
     flex-direction: column;
     align-items: center;
     width: 50%;
     margin: 0.5rem;
}
.lookbook-photo-short,
.lookbook-photo-tall {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 33.3333%;
     background: url(../images/model-purple.png) no-repeat 80%;
     background-size: cover;
     margin: 0.5rem;
     font-size: 10rem;
     color: white;
}
.lookbook-photo-short {
     height: 66.6666%;
     background: url(../images/model-red.jpg) no-repeat 70%;
}
/* Dark overlay for lookbook photo hovers. */
.lookbook-photo-short::before,
.lookbook-photo-tall::before {
     content: '';
     width: 100%;
     height: 100%;
     background: rgba(0,0,0,0.75);
     opacity: 0;
}
/* Cross for lookbook photo hovers. */
.lookbook-photo-short::after,
.lookbook-photo-tall::after {
     position: absolute;
     content: '+';
     opacity: 0;
}