/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* Base
/*******************************************/
body {
     display: flex;
     flex-direction: row;
     font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4 {
     font-family: 'Anton', sans-serif;
     font-weight: 900;
     letter-spacing: 0.1rem;
}
h1 {
     font-size: 2rem;
     line-height: 2.5rem;
}
h2 {
     font-size: 1.3rem;
     line-height: 1.6rem;
}
p {
     font-weight: 300;
     color: #6b6b6b;
}
.article-author {
     font-weight: 700;
     font-size: 0.75rem;
     color: #6b6b6b;
}
a,
details,
header {
     text-decoration: none;
     color: #818181;
}
header {
     width: 40%;
     padding: 1rem;
     height: 100%;
}
header > nav,
header > section {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: flex-start;
}
header > nav > * {
     line-height: 2rem;
}
.section-top,
.section-bottom,
.section-article-latest,
.article-latest {
     display: flex;
     flex-direction: row;
     margin-top: 1rem;
}
.logo {
     width: 3rem;
}
.join-link {
     font-weight: bolder;
     color: #f6a623
}
.mobile-nav-categories {
     display: none;
}

/******************************************
/* Transitions
/*******************************************/
a,
.section-top > .articles-list > li,
.section-article-hero,
.article-latest,
.article-author,
img{
     transition: color 0.15s ease-in-out;
}
li:hover,
.section-article-hero:hover,
.article-latest:hover {
     color: #f6a623;
}
a:hover,
li:hover > .article-author,
.section-article-hero:hover .article-author,
.article-latest:hover .article-author {
     color: #0ad101;
}
.section-article-hero:hover img,
.article-latest:hover img {
     filter: contrast(0.5) brightness(1.2);
}

/******************************************
/* Hero
/*******************************************/
.section-article-hero {
     margin: 0 1.5rem 1rem 0;
}
.section-article-hero > span {
     font-weight: bold;
     color: #f6a623;
}
.section-article-hero > article > * {
     margin-bottom: 0.5rem;
}

/******************************************
/* Articles List
/*******************************************/
.section-top > .articles-list {
     min-width: 20%;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
}
.section-top > .articles-list > li {
     margin-top: 1rem;
}
.section-top > .articles-list > li > h2 {
     margin-bottom: 0.5rem;
}

/******************************************
/* Bottom
/*******************************************/
.section-bottom {
     flex-direction: column;
     margin: 0 1.5rem 0 0;
}
.section-bottom > h1 {
     font-size: 1rem;
     color: #0a9e01;
}
.article-latest {
     gap: 2rem;
}
.article-latest-info {
     display: flex;
     flex-direction: column;
     gap: 0.3rem;
}
.article-latest-info > .article-timestamp {
     color: #7b8796;
     font-size: 0.75rem;
}

/******************************************
/* Responsive
/*******************************************/
@media screen and (min-width: 1500px) {
    body {
         max-width: 1500px;
         margin: 0 auto;
    }
}

@media screen and (max-width: 1360px) {
     h2 {
          font-size: 1rem;
          line-height: 1.5rem;
     }
     .section-top {
          flex-direction: column;
     }
     .section-top > .articles-list {
          flex-direction: row;
          justify-content: space-evenly;
          align-items: flex-end;
     }
     .section-top > .articles-list > li {
          margin: 0 1rem 0 0;
          min-width: 20%;
     }
     .section-article-hero > article {
          display:flex;
          flex-direction: column;
     }
     .section-bottom {
          margin: 1rem 0 0 0;
     }
}
@media screen and (max-width: 1110px) {
     body {
          flex-direction: column;
          margin-left: 2rem;
     }
     header,
     header > section {
          width: 100%;
          flex-direction: row;
          justify-content: space-between;
     }
     header > nav span,
     header > nav a {
          display: none;
     }
     .article-latest {
          flex-direction: column;
          gap: 1rem;
     }
}

@media screen and (max-width: 930px) {
     body {
          margin-left: 1rem;
     }
     .article-latest {
          gap: inherit;
     }
     .section-top > .articles-list {
          flex-direction: column;
          justify-content: space-evenly;
          align-items: flex-start;
     }
     .section-top > .articles-list > li > h2 {
          margin: 1rem 0 0 0;
          font-size: 1.5rem;
          line-height: 1.7rem;
     }
}