/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  user-select: none;
  background: #151515;
  color: #4acd98;
}
h1, h2{
  text-align: center;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  width: 100px;
  height: 200px;
  border: 3px solid #151515;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
li{
  text-align: center;
  width: 94px;
  height: 49px;
  line-height: 49px;
  border: 1px solid #151515;
  background-color: #2c2c2c;
  color: white;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
li,
h1,
h2 {
  transition: color 0.75s ease,
              background-color 0.75s ease,
              border-color 0.75s ease;
}
li:hover {
  cursor: pointer;
  border: #4acd98 1px solid;
  color: #4acd98;
  background: #383838;
}