/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
a,
button,
input,
.source-feature-spread > figure {
     transition: all 0.2s ease-in-out;
}
body {
     background: #f5f9fc;
     color: #304659;
}
h1, h2 {
     font-size: 2.5rem;
     font-weight: bold;
     margin: 1rem 0;
}
h2 {
     font-size: 0.85rem;
}
figcaption {
     font-size: 0.75rem;
}
p, figcaption, input, ::placeholder {
     font-size: 0.75rem;
     font-weight: bold;
     line-height: 1rem;
     color: #8298a9;
}
input {
     border: none;
     background: #e1e9f0;
     font-size: 0.75rem;
     padding-left: 0.5rem;
     margin: 0;
     height: 1.5rem;
     line-height: 1.5rem;
     width: 12rem;
}
input:hover {
     background: #304659;
}
input:focus {
     background: #2c2c2c;
     outline: #4acd98;
}
input:hover + button {
     background: #4d6275;
}
input:focus + button {
     background: #4acd98;
}
button:hover {
     background: #4acd98;
     transform: scale(1.1);
}
label {
     display: flex;
     margin: 0.5rem 0;
}
a {
     text-decoration: none;
     color: #304659;
}
a:hover {
     color: #4acd98;
     transform: scale(1.1);
}
.btn-nav {
     color: #304659;
     font-size: 0.65rem;
     font-weight: bold;
     margin: 0 1rem;
}
.btn-full {
     border: none;
     font-size: 0.6rem;
     color: #f5f9fc;
     background: #304659;
     width: 4rem;
     height: 1.5rem;
}
.source-icon {
     width: 1.5rem;
     filter: grayscale(100%) sepia(100%) hue-rotate(180deg) saturate(100%);
}
h1, h2, h3, span, p, img, figcaption, a {
     user-select: none;
}
.mobile-menu-expand {
     display: none;
     filter: grayscale(100%) contrast(50%) sepia(100%) hue-rotate(180deg) saturate(100%);
}


/********************************************
/* LAYOUT
/*******************************************/
header {
     display: flex;
     justify-content: space-between;
     padding: 1rem 3rem;
}
header > .site-logo {
     font-size: 1.2rem;
     font-weight: bold;
}
header > nav {
     display: flex;
     justify-content: space-evenly;
}
.source-section-hero,
.source-feature-spread,
.off-screen {
     display: flex;
     padding: 0 0 0 7rem;
     margin-top: 3rem;
}
.source-section-hero {
     justify-content: space-between;
     align-items: center;
}
.source-hero-search {
     width: 30%;
}
.source-hero-search > span {
     color: #899cae;
     font-size: 0.5rem;
     font-weight: bold;
     text-transform: uppercase;
}
.source-feature-spread {
     justify-content: space-evenly;
     align-items: flex-start;
     width: 90%;
}
.source-feature-spread > figure {
     width: 30%;
     height: 40%;
     padding: 1rem 1rem;
     border-radius: 0.5rem;
}
.source-feature-spread > figure > img,
.source-feature-spread > figure > figcaption,
.source-feature-spread > figure > h2 {
     user-select: none;
}
.source-feature-spread > figure:hover {
     background: #304659;
}
.source-feature-spread > figure:hover > * {
     color: #f5f9fc;
}
.source-feature-spread > figure:hover > img {
     filter: grayscale(100%) sepia(100%) hue-rotate(180deg) brightness(500%);
}
.source-feature-spread > figure:hover > h2 {
     color: #4acd98;
}
.source-feature-spread > figure:hover > .btn-feature {
     color: gold;
}
.source-feature-spread > figure:hover > .btn-feature:hover {
     color: #4acd98;
     transform: scale(1.1);
}
.source-feature-spread > figure > figcaption {
     padding: 0 0 0.5rem 0;
}
.source-feature-spread > figure > .btn-feature {
     font-size: 0.75rem;
     font-weight: bold;
}
.off-screen {
     flex-direction: column;
}

@media screen and (max-width: 1100px) {
     .source-hero-laptop {
          display: none;
     }
     .source-hero-search {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 70%;
     }
}
@media screen and (max-width: 950px) {
     .source-feature-spread {
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
     }
     .source-feature-spread > figure {
          width: 50%;
     }
}
@media screen and (max-width: 727px) {
     .mobile-menu-expand {
          display: inherit;
          height: 3rem;
     }
     header > nav > .btn-nav,
     header > .btn-full {
          display: none;
     }
     header > .site-logo {
          font-size: 3rem;
     }
     .source-section-hero {
          flex-direction: column;
     }
     .source-section-hero,
     .source-feature-spread,
     .off-screen {
          display: flex;
          padding: 0 2rem;
          margin-top: 3rem;
     }
     .source-hero-search,
     .source-hero-search > label {
          width: 100%;
     }
     .source-hero-search > label > input,
     .btn-full {
          height: 3rem;
          font-size: 1rem;
          line-height: 3rem;
          width: 60%;
     }
     .btn-full {
          width: 40%;
     }
     .source-hero-search p {
          margin-top: 1rem;
     }

}
@media screen and (max-width: 600px) {
     .source-hero-search > label {
          display: flex;
          flex-direction: column;
     }
     .source-feature-spread > figure {
          width: 100%;
     }
     .source-hero-search > label > input,
     .btn-full {
          width: 100%;
     }
}