* {
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    background: #2c2c2c;
    color: #4acd98;
}
.container > section, header, footer {
    border: #336f4e 1px solid;
    padding-left: 3vw;
    padding-top: 3vh;
}
header, footer {
    height: 20vh;
    clear: both;
}
.a-section {
    height: 25vh;
}
.b-section {
    height: 35vh;
    float: left;
}
#b-left {
    width: 40%;
}
#b-right {
    width: 60%;
}